doctype html
html
  head
    meta(charset='utf-8')
    |     
    meta(http-equiv='Expires' content='0')
    |     
    meta(name='description' content='')
    |     
    meta(name='keywords' content='')
    |     
    meta(name='author' content='liguanjian.com')
    |     
    meta(name='applicable-device' content='pc,mobile')
    |     
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
    |     
    meta(name='format-detection' content='telephone=no')
    |     
    link(href='style/home.css' rel='stylesheet' type='text/css')
    |     
    title 小程序商店 - 微信小程序，精品小程序每日推荐。
  body#body
    header
      h1.title(href='javascript:;') 小程序商店
      // <a href="javascript:;" class="goupload"><span style="font-size:15px;">+</span>&nbsp;提交</a>
    .banner
      nav
        a.active(data-cid='0' href='') 全部
        a(data-cid='1' href='') 富媒体
        a(data-cid='2') 工具
        a(data-cid='3') 商业
        a(data-cid='4') 公益
        a(data-cid='5') IT科技
        a(data-cid='6') 美食
        a(data-cid='7') 旅游
        a(data-cid='8') 娱乐
        a(data-cid='9') 快递物流
        a(data-cid='10') 教育
        a(data-cid='11') 医疗
        a(data-cid='12') 政务
        a(data-cid='13') 金融
        a(data-cid='14') 交通
        a(data-cid='15') 房地产
        a(data-cid='16') 体育
        a(data-cid='17') 电商
    .mod-app-container
      // 推荐@duck
      .fixData(style='display: block;')
        .fix_top
          span.star
          h2.starInfo 精品推荐
        |         
        .fix_list
          a.goods(data-appid='0GNZl2b2rXz7SXLWt7NhHA')
            img(src='image/icon-2.png')
            p 美团外卖+
          |             
          a.goods(data-appid='6-DqoK5h3sQl96BBx3azCw')
            img(src='image/icon-2.png')
            p 开眼视频
          |             
          a.goods(data-appid='vJmuMKfeEX_b-pHDfTxAtg')
            img(src='image/icon-2.png')
            p 去哪儿出行
          |             
          a.goods(data-appid='xe5ttO5Vd5B2vsXm0Oqt9A')
            img(src='image/icon-2.png')
            p 腾讯视频
          |             
          a.goods(data-appid='9tX06fBr6Q3G1zsYBU_mhQ')
            img(src='image/icon-2.png')
            p 微清单
          |             
          a.goods(data-appid='zvQ8UKDoPrKq8MSFa1DvUg')
            img(src='image/icon-2.png')
            p 得到Plus
          |             
          a.goods(data-appid='rNZFQE-X3ap6-WXt7KNFww')
            img(src='image/icon-2.png')
            p 快递100⁺
          |             
          a.goods(data-appid='6AqYqJCciF9wel80kO_hVQ')
            img(src='image/icon-2.png')
            p 轻芒杂志
      // end推荐@duck
      .line
      |     
      ul.mod-app-list
        li.detailLi(data-appid='qRXu2WNIdNBHpwE2dQyqHg')
          .icon-app
            img(style='width:52px;height:52px;' src='image/icon-2.png' alt='一只狗')
          |             
          .app-content
            h3 水滴互助应用
            span.appinfo 这是一只狗一只狗一只狗
            |                 
            p.c-tx1
              | 随便说什么
              span  ・  
              | 公益
          |             
          a.btn-green(data-code='image/icon-2.png') 打开
        |         
        li.detailLi(data-appid='qRXu2WNIdNBHpwE2dQyqHg')
          .icon-app
            img(style='width:52px;height:52px;' src='image/icon-2.png' alt='一只狗')
          |             
          .app-content
            h3 水滴互助应用
            span.appinfo 这是一只狗一只狗一只狗
            |                 
            p.c-tx1
              | 随便说什么
              span  ・  
              | 公益
          |             
          a.btn-green(data-code='image/icon-2.png') 打开
