body {
    background: #ffffff;
    max-width: 750px;
    margin: 0px auto;
}

.item_reply {
    background: #ffffff;
    margin-bottom: 20px;
    border-bottom: 1px solid #9a9baf;
}

.avatar {
    margin: 10px 0;
    width: 100%;
}

.score {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    align-items: flex-start;
    display: flex;
}

.img_size_1 {
    width: 100%;
    background-size: cover;
}

.nopadding {
    padding: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
}

.reply_insert {
    padding: 10px;
    background: #f1f1f1;
}

.readed {
    color: #848484;
    line-height: 26px;
    height: 26px;
}

.my_local {
    line-height: 30px;
}

.my_local2 {
    height: 30px;
    line-height: 30px;
    margin-bottom: 7px;
    margin-top: 2px;
}

.my_l {
    margin-left: 8px;
}

.myreplycnt {
    margin-top: 13%;
    line-height: 26px;
    height: 26px;
}

.fs28 {
    font-size: 28px;
}

.my_tag {
    background: lightskyblue;
    padding: 4px 17px;
    margin: 5px 5px 0 0;
    display: inline-block;
}

.descpic {
    /*padding: 0px 5px 5px 0;*/
    padding: 0 15px 30px;
}

.bigQR {
    padding: 0 15px;
}

.bigqrpart {
    width: 80%;
    margin: 0 auto;
}

.qrh2 {
    text-align: center;
    font-size: 24px;
}

.header-bar {
    height: 44px;
    line-height: 44px;
    position: relative;
}

.icon-back {
    width: 40px;
    height: 44px;
    position: absolute;

}

.icon-back a {
    background: url(../image/back.png) no-repeat;
    width: 20px;
    height: 20px;
    margin: 12px 0 0 10px;
    display: block;
    background-size: contain;
}

.header-title {
    margin: 0 50px;
    text-align: center;
    height: 44px;
    line-height: 44px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-title::before{
    content: " ";
    width: 20px;
    height: 20px;
    background: url(../image/40.png) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
}

/*导航*/

.wap_nav {
    height: 44px;
    text-align: center;
    background: #f0f0f1;
}

.wap_nav_list {
    width: 100%;
    height: 100%;
    z-index: 2;
}

.wap_navItem:last-child a {
    border: 0
}

.wap_navItem--on a {
    color: #63b830
}

.wap_navItem {
    width: 25%;
    display: inline-block;
    box-shadow: 1px 1px 12px 2px rgba(255,255,255,.3);
}

.wap_navItem a {
    display: block;
    width: 98%;
    line-height: 44px;
    color: #333;
    border-right: 1px solid #ccc;
    text-decoration: none;
    font-size: 18px;
    margin: 0 auto;
}

.oneline {
    white-space: normal;
}

@media screen and (max-width: 430px) {
    .oneline {
        display: none;
    }
}

.pList {
    padding: 0;
    overflow: hidden !important;
    overflow-x: scroll !important;
    white-space: nowrap;
}

.pList img {
    display: inline-block;
    width: 49%;
    margin-right: 2%;
}

.pList img:last-child{
    margin-right: 0;
}

.b_title{
    font-size: 16px;
}

.chunk{margin-bottom: 4px;}
.chunk::before{
    content: "\2000";
    border-left: 2px solid #63b830;
}

.section_p{
    font-family: '微软雅黑';
    color: #6b6f67;
}
.my_local *{
    color: white;
}
.my_local>:nth-child(4n+0)
{
    border-left: 3px solid #0080ff;
    background-color: #39F;
}
.my_local>:nth-child(4n+1)
{
    border-left: 3px solid #f33;
    background-color: #F66;
}
.my_local>:nth-child(4n+2)
{
    border-left: 3px solid #ff8000;
    background-color: #F93;
}
.my_local>:nth-child(4n+3)
{
    border-left: 3px solid #b366ff;
    background-color: #C9F;
}